/* Font From Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Autour+One&family=DM+Serif+Text:ital@0;1&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: black;
}

/* Styles for the Canvas */
canvas {
  display: block;
}

/* Immersive Exhibition Style for Button */
.immersive-btn {
  background-color: rgba(50, 51, 56, 0.7);
  color: rgb(255, 255, 255);
  padding: 15px 30px;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
}

.immersive-btn:hover {
  background-color: rgba(156, 156, 156, 0.7);
  transform: scale(1.1);
}
